.mapContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: -4rem;
  z-index: -1;
}

@media (max-width: 788px) {
  .mapContainer {
    margin-top: -4.3rem;
  }
}
@media (max-width: 561px) {
  .mapContainer {
    margin-top: -5.5rem;
  }
}

@media (max-width: 525px) {
  .mapContainer {
    margin-top: -11.2rem;
  }
}
