.mapContainer {
  /* width: 100%; */
  /* height: 100%; */
  position: fixed;
  /* position: relative; */
  overflow: hidden;
  margin-top: -4.3rem;
  z-index: -1;
}

@media (max-width: 788px) {
  .mapContainer {
    margin-top: -4.3rem;
  }
}
@media (max-width: 561px) {
  .mapContainer {
    margin-top: -5.5rem;
  }
}

@media (max-width: 525px) {
  .mapContainer {
    margin-top: -11.2rem;
  }
}
